.c-dialog,
.c-dialog-1 {
  background-color: color(white);
  left: 50%;
  margin: 0;
  max-height: 500px;
  max-width: 700px;
  overflow: scroll;
  padding: 2rem;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 3;

  @include iota-breakpoint(md) {
    margin: 50px 0 0 0;
    max-height: initial;
    overflow: hidden;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &:not([aria-hidden='true']) {
    display: block;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    &[aria-hidden='true'] {
      display: none;
    }

    &:not([aria-hidden='true']) {
      display: block;
    }
  }
}

.js-close-dialog,
.mfp-close {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  box-shadow: none;
  color: grey !important;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 28px;
  font-style: normal;
  height: 44px;
  line-height: 44px;
  opacity: 0.65;
  outline: 0;
  padding: 0;
  padding: 0 0 18px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 44px;
  z-index: 1046;
}

.u-noscroll {
  height: 100%;
  overflow: hidden;
}
