$iota-objs-grid-aligned: true;
$iota-objs-grid-rev: true;
$iota-objs-grid-gutter-default: $iota-global-gutter-default;
$iota-objs-grid-gutter-extra: (
  'flush': (
    null: 0,
  ),
  sm: (
    null: 1rem,
  ),
  benefits: (
    null: 1rem,
    sm: 2rem,
    md: 3rem
  )
);
$iota-objs-grid-flex: $iota-global-flex;
$iota-objs-grid-equal-height: true;

@import 'node_modules/iotacss/objects/grid';
